<h2 class="font-semibold text-center text-xl mb-6">Reporte financiero</h2>
<button
  (click)="reladoQuery()"
  class="absolute bg-main top-20 rounded-xl p-2 hover:bg-main/60 cursor-pointer"
>
  Recargar informacion
</button>
<div class="bg-slate-900 border border-slate-800 rounded-xl overflow-hidden shadow-sm mb-10">
  <div class="overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr
          class="bg-slate-800/50 text-slate-500 text-xs font-bold uppercase tracking-wide border-b border-slate-800"
        >
          <th class="px-6 py-4">Correo electrónico</th>
          <th class="px-6 py-4">Nombre</th>
          <th class="px-6 py-4">Celular</th>
          <th class="px-6 py-4">Membresía</th>
          <th class="px-6 py-4">Número de visitas</th>
          <th class="px-6 py-4">Descuento en comida</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-slate-800">
        @for (page of query.data()?.pages; track $index) {
          @for (item of page.content; track $index) {
            <tr class="group hover:bg-cyan-500/5 transition-colors">
              <td class="px-6 py-2">
                <div class="flex flex-col">
                  <span class="font-bold text-white group-hover:text-cyan-500 transition-colors">
                    {{ item.email }}
                  </span>
                </div>
              </td>
              <td class="px-6 py-2 text-center gap-0.5">
                <span class="text-slate-400 text-sm font-semibold">
                  {{ item.name }}
                </span>
              </td>
              <td class="px-6 py-2 text-sm text-slate-400 text-center">
                {{ item.cellphone }}
              </td>
              <td class="px-6 py-2 text-center text-base">
                <span>{{ item.cardType }}</span>
              </td>
              <td class="px-6 py-2 text-sm">
                <div class="flex items-center justify-center gap-1">
                  <span class="text-sm font-bold">{{ item.currentVisits }}</span>
                </div>
              </td>
              <td class="px-6 py-4">
                <div class="flex items-center justify-evenly gap-2">
                  % {{ item.foodDiscount * 100 }}
                </div>
              </td>
            </tr>
          }
        }
        <div #infiniteAnchor style="height: 10px"></div>
      </tbody>
    </table>
  </div>
</div>
