<div class="flex justify-between items-center mb-8">
  <div>
    <h1 class="text-3xl font-bold tracking-tight">Agregar pelicula</h1>
    <p class="text-slate-500 dark:text-slate-400 mt-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
<div class="bg-cyan-950/20 p-8 rounded-xl border border-cyan-500/10 shadow-2xl mb-10">
  <form (ngSubmit)="mutation.mutate()">
    <h3 class="text-2xl font-bold mb-6 flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
        />
        <path
          d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
        />
      </svg>
      Informacion general
    </h3>
    <div class="flex flex-col gap-4">
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Titulo</p>
        <input
          name="title"
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 placeholder:text-white/30"
          placeholder="Titulo de la pelicula"
          type="text"
          [(ngModel)]="newMovie.title"
        />
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Imagen</p>
        <input
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 placeholder:text-white/30"
          placeholder="URL de imagen"
          name="imageUrl"
          type="text"
          [(ngModel)]="newMovie.imageUrl"
        />
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Trailer</p>
        <input
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 placeholder:text-white/30"
          placeholder="URL de trailer"
          name="trailerUrl"
          type="text"
          [(ngModel)]="newMovie.trailer"
        />
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Sinopsis</p>
        <textarea
          name="overview"
          [(ngModel)]="newMovie.overview"
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 min-h-40 placeholder:text-white/30"
          placeholder="Sinopsis de la pelicula"
        ></textarea>
      </label>
    </div>
    <h3 class="text-2xl font-bold mb-6 flex items-center gap-2 mt-6">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
        />
        <path
          d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
        />
      </svg>

      Detalles
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Categoria</p>
        <select
          name="category"
          class="w-full bg-cyan-950/20 dark:bg-cyan-950/20 border-transparent rounded-lg focus:ring-cyan-500 focus:border-cyan-500 px-4 py-2.5 outline-none transition-all"
        >
          <option value="0" class="text-white" disabled>Escoge una opción</option>
          @for (item of queryCategory.data(); track $index) {
            <option [value]="item.id" class="text-gray-600">{{ item.name }}</option>
          }
        </select>
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Estado</p>
        <select
          [(ngModel)]="newMovie.status"
          name="status"
          class="w-full bg-cyan-950/20 dark:bg-cyan-950/20 border-transparent rounded-lg focus:ring-cyan-500 focus:border-cyan-500 px-4 py-2.5 outline-none transition-all"
        >
          <option value="0" class="text-white" disabled>Escoge una opción</option>
          @for (item of queryStatus.data(); track $index) {
            <option [value]="item.id" class="text-gray-600">{{ item.name }}</option>
          }
        </select>
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Fecha de estreno</p>
        <input
          [(ngModel)]="newMovie.releaseDate"
          name="release_date"
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 placeholder:text-white/30"
          type="date"
        />
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Duracion</p>
        <input
          [(ngModel)]="newMovie.time"
          name="time"
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 placeholder:text-white/30"
          placeholder="Duracion"
          type="number"
          min="1"
          max="300"
        />
      </label>
      <label class="flex flex-col gap-2">
        <p class="text-white/80 text-sm font-medium">Puntuacion</p>
        <input
          [(ngModel)]="newMovie.rating"
          name="rating"
          class="w-full rounded-lg bg-cyan-900/50 border-2 border-transparent focus:border-cyan-500 outline-none text-white px-4 py-2 placeholder:text-white/30"
          placeholder="Puntuacion"
          type="number"
          max="5"
          min="1"
        />
      </label>
      <div class="flex gap-4 place-self-end">
        <app-button
          [disabled]="
            newMovie.title === '' ||
            newMovie.overview === '' ||
            newMovie.imageUrl === '' ||
            newMovie.trailer === '' ||
            newMovie.status === '0' ||
            !newMovie.rating ||
            newMovie.rating === '0' ||
            !newMovie.time ||
            newMovie.time === '0' ||
            newMovie.releaseDate === ''
          "
          type="submit"
          title="Guardar"
          [background]="
            newMovie.title === '' ||
            newMovie.overview === '' ||
            newMovie.imageUrl === '' ||
            newMovie.trailer === '' ||
            newMovie.status === '0' ||
            !newMovie.rating ||
            newMovie.rating === '0' ||
            !newMovie.time ||
            newMovie.time === '0' ||
            newMovie.releaseDate === ''
              ? 'bg-gray-500 cursor-not-allowed'
              : 'bg-cyan-500 hover:bg-cyan-500/90 transition-all'
          "
          shadow="shadow-lg shadow-cyan-500/20"
          textStyle="text-white text-sm font-semibold"
          paddingHorizontal="px-6"
          paddingVertical="py-2.5"
        ></app-button>
      </div>
    </div>
  </form>
</div>

<app-movie-table (selectMovieToEdit)="setMovieToEdit($event)"></app-movie-table>
