<div class="flex gap-4 items-start justify-center">
  <div class="py-6 px-10 bg-cyan-500/10 my-6 border-2 border-cyan-100/20 rounded-xl">
    <div
      class="h-2 w-3/4 mx-auto rounded-full bg-linear-to-r from-cyan-500/10 via-cyan-500 to-blue-500/10"
    ></div>
    <h2 class="text-center text-cyan-50/80 font-semibold mt-4 mb-8">La pantalla está aquí</h2>
    <div class="flex flex-row gap-4 justify-center">
      <div class="grid grid-cols-1 gap-2 place-items-center">
        @for (item of rows; track $index) {
          <p class="text-sm h-10 flex text-cyan-50/80 justify-center items-center font-semibold">
            {{ item }}
          </p>
        }
      </div>
      <div class="grid grid-cols-10 gap-2">
        @for (item of seats; track $index) {
          <app-seat
            (click)="toggleSeat(item)"
            [isSelected]="isSeatSelected(item)"
            [seatNumber]="item.number"
          ></app-seat>
        }
      </div>
    </div>
    <div class="h-0.5 bg-cyan-300/10 my-8 w-1/2 mx-auto"></div>
    <div class="flex flex-row gap-8 justify-center">
      @for (item of seatsType; track $index) {
        <app-seats-type [variant]="item.type" [text]="item.text"></app-seats-type>
      }
    </div>
  </div>

  <app-movie-buy
    [movie]="movie"
    [selectedSeats]="selectedSeats"
    (deleteSeat)="deSelectSeat($event)"
  ></app-movie-buy>
</div>

<app-footer></app-footer>