<form [formGroup]="form" class="bg-cyan-500/10 border-2 border-cyan-100/20 rounded-xl p-8">
  <h2 class="text-lg font-semibold text-cyan-50 mb-6">Cambiar contraseña</h2>

  <div class="space-y-4">
    <div>
      <label class="block text-sm text-cyan-50/80 mb-2">Contraseña actual</label>
      <input
        type="password"
        id="currentPassword"
        name="currentPassword"
        formControlName="currentPassword"
        placeholder="Ingresa tu contraseña actual"
        class="w-full bg-white/5 border border-white/10 rounded-lg px-4 py-2.5 text-sm text-cyan-50 placeholder-cyan-50/30 focus:outline-none focus:border-cyan-500/50 transition-colors"
      />
    </div>
    @if (getErrorMessage('currentPassword')) {
      <p class="text-xs mt-2 text-red-500">{{ getErrorMessage('currentPassword') }}</p>
    }
    <div>
      <label class="block text-sm text-cyan-50/80 mb-2">Nueva contraseña</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        formControlName="newPassword"
        placeholder="Mínimo 8 caracteres"
        class="w-full bg-white/5 border border-white/10 rounded-lg px-4 py-2.5 text-sm text-cyan-50 placeholder-cyan-50/30 focus:outline-none focus:border-cyan-500/50 transition-colors"
      />
    </div>
    @if (getErrorMessage('newPassword')) {
      <p class="text-xs mt-2 text-red-500">{{ getErrorMessage('newPassword') }}</p>
    }
    <div>
      <label class="block text-sm text-cyan-50/80 mb-2">Confirmar nueva contraseña</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Repite la nueva contraseña"
        class="w-full bg-white/5 border border-white/10 rounded-lg px-4 py-2.5 text-sm text-cyan-50 placeholder-cyan-50/30 focus:outline-none focus:border-cyan-500/50 transition-colors"
      />
    </div>
    @if (getErrorMessage('confirmPassword')) {
      <p class="text-xs mt-2 text-red-500">{{ getErrorMessage('confirmPassword') }}</p>
    }

    <button
      (click)="changePassword()"
      type="submit"
      [disabled]="loading()"
      [class]="
        `bg-(--main-color) hover:bg-(--main-color)/90 text-white font-semibold px-6 py-2.5 rounded-lg transition-colors cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed mt-2 ${loading() && 'cursor-progress'}`
      "
    >
      Cambiar contraseña
    </button>
  </div>
</form>
