@import 'tailwindcss';

@theme {
  --color-background: #f8f6f6;
  --color-background-dark: #221013;
  --color-main: #00b8db;
}

:root {
  --background: #f8f6f6;
  --main-color: #00b8db;
}

.dark {
  --background: #221013;
}

.icon-main {
  color: var(--color-main)
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
  }
}
