@import 'tailwindcss';

:root {
  --background: #f8f6f6;
  --main-color: #00b8db;
}

.dark {
  --background: #221013;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
  }
}
